<header id="masthead" class="site-header header-primary">
   <!-- header html start -->
   <div class="top-header">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 d-none d-lg-block">
               <div class="header-contact-info">
                  <ul>
                     <li>
                        <a href="#"><i class="fas fa-phone-alt"></i> +01 (977) 2599 12</a>
                     </li>
                     <li>
                        <a href="mailto:info@Travel.com"><i class="fas fa-envelope"></i> company@domain.com</a>
                     </li>
                     <li>
                        <i class="fas fa-map-marker-alt"></i> 3146 Koontz Lane, California
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-lg-end justify-content-between">
               <div class="header-social social-links">
                  <ul>
                     <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                     <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                     <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                     <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                  </ul>
               </div>
               <div class="header-search-icon">
                  <button class="search-icon">
                     <i class="fas fa-search"></i>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="bottom-header">
      <div class="container d-flex justify-content-between align-items-center">
         <div class="site-identity">
            <h1 class="site-title">
               <a href="/">
                  <img class="white-logo" src="/assets/images/logoImage2.png" alt="logo">
                  <img class="black-logo"  src="/assets/images/logoImage1.png" alt="logo">
               </a>
            </h1>
         </div>
         <div class="main-navigation d-none d-lg-block">
            <nav id="navigation" class="navigation">
               <ul>
                  <li class="">
                     <a href="/">Home</a>
                  </li>


                  <li class="menu-item-has-children">
                     <a href="#">Tour</a>
                     <ul>
                        <li>
                           <a href="/destination">Destination</a>
                        </li>
                        <li>
                           <a href="/tour-packages">Tour Packages</a>
                        </li>
                        <li>
                           <a href="/package-offer">Package Offer</a>
                        </li>
                     </ul>
                  </li>

                  <li class="menu-item-has-children">
                     <a href="#">Discover</a>
                     <ul>
                        <li>
                           <a href="/about">About</a>
                        </li>
                        <li>
                           <a href="/services">Service</a>
                        </li>
                        <li>
                           <a href="/careers">Career</a>
                        </li>
                        <li>
                           <a href="/tour-guide">Tour Guide</a>
                        </li>
                        <li>
                           <a href="/gallery">Gallery</a>
                        </li>
                        <li>
                           <a href="/faq">FAQ</a>
                        </li>
                        <li>
                           <a href="/testimonials">Testimonial</a>
                        </li>
                        <li>
                           <a href="/contact">Contact</a>
                        </li>
                     </ul>
                  </li>



                  <li><a href="/products">Shop</a></li>


                  
                  <li><a href="/blog">Blog</a></li>


                  <% if(user) {%>

                     <li class="menu-item-has-children">
                        <a href="#">Dashboard</a>
                        <ul>
                           <li class="">
                              <a href="/user-profile">Profile</a>
                           </li>
                           <li>
                              <a href="/user-carts">Carts</a>

                              <!-- <a href="/packageCart">Package Cart</a> -->
                           </li>
                           <li>
                              <a href="/userBookingPage">Bookings</a>
                           </li>
                           <!-- <li>
                              <a href="/product/cart">Shop Product Cart</a>
                           </li> -->
                           
                           <li>
                              <a href="/applied-careers">Applied Careers</a>
                           </li>
                           <li>
                              <a href="/wishlist">Wishlist</a>
                           </li>

                           <li>
                              <a href="/logout">Logout</a>
                           </li>
                        </ul>
                     </li>
                     <%} else {%>
                        <li>
                           <a href="/loginPage">Login</a>
                        </li>
                        <% }%>

               </ul>
            </nav>
         </div>
         <div class="header-btn">
            <a href="/tour-packages" class="button-primary">BOOK NOW</a>
         </div>
      </div>
   </div>
   <div class="mobile-menu-container"></div>
</header>