<!doctype html>
<html lang="en">
<%- include("../partials/Header.ejs")%>
<body>
    <div class="login-page" style="background-image: url(/assets/images/bg.jpg);">
        <div class="login-from-wrap">
            <form class="login-from" method="post" action="/loginUserOrAdmin">
                <h1 class="site-title">
                    <a href="#">
                        <img src="/admin/assets/images/logo.png" alt="">
                    </a>
                </h1>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="validate" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" class="validate" required>
                </div>
                <a href="/forgetPasswordPage" class="for-pass">Forgot Password?</a>
                <div class="form-group">
                    <button type="submit" class="button-primary w-100">Login</button>
                </div>
                <p class="d-flex justify-content-between align-items-center gap-2">
                    <span>Don't have an account?</span>
                    <a href="/signupUser" class="btn btn-link p-0">Sign Up</a>
                </p>
                
            </form>
        </div>
    </div>
    <%- include('../partials/toaster') %>

    <!-- *Scripts* -->
    <%- include('../partials/script') %>

</body>
</html>